.task_box_list_with_title {
    background-color: #087dea1a;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.title {
    position: absolute;
    top: 5px;
    left: 10px;
}

.container_tasks {
    display: flex;
    flex-direction: column-reverse;
}

.task_box_list_with_title h4 {
    font-size: 22px;
    margin-left: 10px;
}

.flex_options {
    display: flex;
    align-items: center;
}

.btn_trash {
    color: #ec566f;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.options {
    background-color: #56b0ec;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 10vh;
    position: relative;
}

.options > h3 {
    color: #242525;
}

.add_mew_task {
    color: #242525;
    font-size: 33px;
    position: absolute;
    top: 8px;
    right: 10px;
}

.add_mew_task:hover {
    color: #242525;
}

.message_list_empty {
    color: #ededee38;
    margin: 20px 0;
}

.send_task {
    color: #f1f1f1da;
    font-size: 24px;
    margin: 0 10px;
}

